body {
    margin: 0;
}

/* Grid Method -- header styling */
.grid-headerBar {
    background: linear-gradient(270deg, rgba(9,25,107,1) 0%, rgba(34,91,193,1) 35%, rgba(0,212,255,1) 100%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0;
}

.grid-title1 {
    text-align: left;
    margin-top: 5px;
    margin-left: 15px;
}

.grid-title2 {
    text-align: right;
    margin-top: 35px;
    margin-right: 25px;
}

/* Style the navbar */
#navbar {
    overflow: hidden;
    background-color: rgb(20, 22, 24);
}
  
/* Navbar links */
#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

/* Navbar links on mouse-over */
#navbar a:hover {
    background-color: rgb(74, 204, 243);
}

/* Search box within navbar placement based on top-right margins */
#search {
    margin-top: 14px;
    float: right;
    margin-right: 20px;
}

/* Page content */
.content {
    padding: 16px;
}
  
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
  
/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 60px;
}

/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 120px; /* Stay at the top */
    right: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    margin-right: 0px;
}
  
/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}
  
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}
  
/* Style page content */
.post {
    margin-right: 195px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

.postZero {
    margin-top: 150px;
    margin-right: 195px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}
  
/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
} 
  
#main-footer{
    text-align: center;
    font-size:18px;
    margin-right: 195px; /* Same as the width of the sidebar */
    font-style: italic;
    color: #818181;
}